@use 'variables' as *;

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: $space-2;
  width: 100%;
  font-family: $font-display;
  font-weight: 400;
  font-size: $font-size-base;
  letter-spacing: 0.03em;
  padding: 0.875rem;
  border-radius: $radius-sm;
  border: 1px solid transparent;
  box-shadow: none;
  cursor: pointer;
  transition: all $transition;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &--primary {
    color: $on-primary;
    background: $primary;

    &:hover:not(:disabled) {
      scale: 1.03;
    }

    &:active:not(:disabled) {
      scale: 0.97;
    }
  }

  &--secondary {
    color: $on-secondary;
    background: $secondary;

    &:hover:not(:disabled) {
      scale: 1.03;
    }

    &:active:not(:disabled) {
      scale: 0.97;
    }
  }

  &--outlined {
    color: $on-surface;
    background: transparent;
    border-color: $outline;

    &:hover:not(:disabled) {
      scale: 1.03;
    }

    &:active:not(:disabled) {
      scale: 0.97;
    }
  }

  &--danger {
    background: rgba($color: red, $alpha: 0.25);
    color: color-mix(in srgb, red 75%, white 15%);

    &:hover:not(:disabled) {
      scale: 1.03;
    }

    &:active:not(:disabled) {
      scale: 0.97;
    }
  }

  &--icon {
    width: auto;
    flex-shrink: 0;
  }
}
