@use 'variables' as *;
@use 'breakpoints' as *;

:host {
  display: flex;
  flex-direction: column;
  gap: $space-8;
}

.page-header {
  display: flex;
  gap: $space-4;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;

  .title {
    display: flex;
    flex-direction: column;
    gap: $space-2;
  }
}

.chart-grid {
  display: grid;
  gap: $space-4;
  grid-template-columns: 1fr;

  @include breakpoint('lg') {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.chart-distribution {
  @include breakpoint('lg') {
    grid-column: span 1;
  }
}

.chart-balance {
  @include breakpoint('lg') {
    grid-column: span 1;
  }
}

.chart-daily,
.chart-yearly {
  @include breakpoint('lg') {
    grid-column: 1 / -1;
  }
}
