CASHLY_POSTGRES_USER=user
CASHLY_POSTGRES_PASSWORD=Your_Password_123
CASHLY_POSTGRES_DB=cashly_prod

NEXTCLOUD_DB_PASSWORD=Your_Password_123

COUCHDB_OBSIDIAN_USER=user
COUCHDB_OBSIDIAN_PASSWORD=Your_Password_123

# Environment
ASPNETCORE_ENVIRONMENT=Production
NODE_ENV=production

# Domain & TLS
# CERT_RESOLVER vuoto = Traefik usa certificato self-signed automatico
DOMAIN=your-domain.com
CERT_RESOLVER=letsencrypt

# URLs
MR_WHITE_API_URL=https://your-domain.com/mr-white-api

# Nextcloud
NEXTCLOUD_DOMAIN=your-domain.com
NEXTCLOUD_PROTOCOL=https
NEXTCLOUD_CLI_URL=https://your-domain.com/cloud

# SMTP Email Configuration (Gmail SMTP con Password per le app)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=robe.ingenito@gmail.com
SMTP_PASSWORD=la_tua_password_per_le_app_di_16_caratteri
SMTP_FROM_EMAIL=robe.ingenito@gmail.com
SMTP_FROM_NAME=Cashly
