CASHLY_POSTGRES_USER=user
CASHLY_POSTGRES_PASSWORD=Your_Password_123
CASHLY_POSTGRES_DB=cashly_prod

NEXTCLOUD_DB_PASSWORD=Your_Password_123

COUCHDB_OBSIDIAN_USER=user
COUCHDB_OBSIDIAN_PASSWORD=Your_Password_123

# Environment
ASPNETCORE_ENVIRONMENT=Production
NODE_ENV=production

# Domain & TLS
DOMAIN=your-domain.com
CERT_RESOLVER=letsencrypt

# URLs
CASHLY_API_URL=https://your-domain.com/api
MR_WHITE_API_URL=https://your-domain.com/mr-white-api

# Nextcloud
NEXTCLOUD_DOMAIN=your-domain.com
NEXTCLOUD_PROTOCOL=https
NEXTCLOUD_CLI_URL=https://your-domain.com/cloud