@font-face {
    font-family: 'Lora';
    src: url('/cashly/fonts/Lora-VariableFont_wght.ttf') format('truetype');
    font-weight: 400 700; // range per i variable font
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lora';
    src: url('/cashly/fonts/Lora-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 400 700;
    font-style: italic;
    font-display: swap;
}