@use 'variables' as *;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: $color-surface;
    color: $color-text;
    font-family: $font-serif;
    font-weight: 300;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}