@use 'variables' as *;
@use 'breakpoints' as *;

$padding: $space-1;
$outer-radius: $radius-md;
$inner-radius: calc($outer-radius - $padding);

:host {
  display: block;
  height: 100%;
}

mat-sidenav-container {
  height: 100%;
  background-color: transparent;
}

mat-sidenav {
  width: 16rem;
  background-color: $bg-subtle;
  padding: $padding;

  border-top-right-radius: $outer-radius;
  border-bottom-right-radius: $outer-radius;

  mat-nav-list {
    display: flex;
    flex-direction: column;
    gap: $space-1;

    padding: 0;

    a {
      --mat-list-list-item-label-text-color: #{$text-primary};

      text-decoration: none;

      border-radius: $inner-radius;

      transition:
        background-color $transition,
        color $transition;

      &.active {
        --mat-list-list-item-label-text-color: #{$accent};
        background-color: $accent-subtle;
      }
    }
  }
}

mat-sidenav-content {
  overflow-y: auto;

  // Nasconde la scrollbar ma mantiene lo scroll
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;

  height: $nav-height;
  z-index: $z-sticky;

  background-color: $nav-bg;
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);

  border-bottom: 1px solid $border-strong;

  display: flex;
  justify-content: center;

  padding: 0 $space-4;

  .nav-inner {
    position: relative;

    height: 100%;
    width: 100%;
    max-width: 80rem;

    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-between;

    gap: $space-4;
  }

  .cashly-label {
    display: none;
    @include breakpoint('sm') {
      display: block;
    }
  }

  .menu-button {
    color: $text-primary;

    @include breakpoint('sm') {
      display: none;
    }
  }

  .page-title {
    font-size: $font-size-lg;
    color: $text-primary;
    flex: 1;

    @include breakpoint('sm') {
      display: none;
    }
  }

  .links {
    display: none;

    @include breakpoint('sm') {
      position: absolute;
      left: 50%;
      top: 0;
      bottom: 0;
      transform: translateX(-50%);

      display: flex;
      flex-direction: row;
      align-items: center;
      gap: $space-8;
    }
  }

  .actions {
    display: flex;
    align-items: center;
    gap: $space-1;
    color: $text-primary;

    button {
      color: $text-primary;
    }
  }

  a {
    position: relative;
    transition: all $transition;
    cursor: pointer;
    text-decoration: none;
    color: $text-primary;
  }

  .links a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -0.25rem;
    width: 100%;
    height: 2px;
    background: $accent;

    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition:
      transform $transition,
      color $transition;

    will-change: transform;
  }

  .links a:hover,
  .links a.active {
    transform: scale(1.1);
    color: $accent;
  }

  .links a:hover::after,
  .links a.active::after {
    transform: translateX(-50%) scaleX(1);
  }
}

main {
  margin: 0 auto;

  min-height: calc(100% - $nav-height);
  max-width: 82rem;

  padding: calc($nav-height + 1rem) 1rem 1rem 1rem;
}
