@use "sass:color";
@use 'variables' as *;

:host {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;

  h1 {
    color: $color-accent;
  }
}

.body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 28rem;
  width: 100%;
  padding: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    font-weight: bold;
    text-decoration: none;
    color: $color-accent;
    transition: color $transition;

    &:hover {
      color: color.adjust($color-accent, $lightness: 16%);
    }
  }

}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}