@use 'variables' as *;
@use 'breakpoints' as *;

:host {
  display: flex;
  flex-direction: column;
  gap: $space-8;
}

header {
  display: flex;
  gap: $space-4;

  flex-direction: column;
  justify-content: space-between;
  align-items: start;

  @include breakpoint('md') {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .title {
    display: flex;
    flex-direction: column;
    gap: $space-2;
  }

  .actions {
    display: flex;
    width: 100%;
    gap: $space-2;

    @include breakpoint('md') {
      width: auto;
    }

    & > *:nth-child(1) {
      flex: 1;
    }

    & > *:nth-child(2) {
      flex: 2;

      @include breakpoint('md') {
        flex: initial;
      }
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: $space-3;
}

.transaction-list {
  display: flex;
  flex-direction: column;
  gap: $space-3;
}
